body{
  background: linear-gradient(#2a6994, #324d70) no-repeat fixed;

}

h1{
  font-family: "Comfortaa", sans-serif;
}

h1,h3{
  color: #fff6ee;
  font-family: Arial, sans-serif;
}

label{
  color: #fbfbff;
  font-family: Arial, sans-serif;
  margin: 10px;
}
.drop_list_item{
  color: #10436b;
}

.textbox{
  padding: 4px;
  border: 2px;
  border-radius: 4px;
  width: 160px;
  margin-top: 3px;
  margin-bottom: 5px;
  margin-left: 100px;
  margin-right: 100px;
  display: flex;
  justify-content: center;
  align-items: center;

}

.button
{
  font-size: 14px;
  font-family: "Comfortaa", sans-serif;
  font-weight: bold;
  color:#324d70;
  background-color: #fff6ee;
  border : none;
  margin-left: 150px;
  border-radius: 5px;
}

.button:hover{
  color: #fff6ee;
  background-color: #324d70;
  border-color: #fbfbff;
}

.results{
  color: #324d70;
  border-color: #324d70;
  border-radius: 5px;
  padding: 2%;
  background-color:  #fbfbff;
  font-family: Arial, sans-serif;
}