body {
    font-family: Arial, sans-serif;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input, select, button {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

button {
    margin-top: 10px;
}

.results {
    margin-top: 20px;
}

body{
    background-image: url("man_reading.png");
    background-size: cover;
}

p {
    color: aliceblue;
}