body{
    background-color: rgb(110, 167, 46);
}
#utilities{
    display: flex;
    justify-content:center;
    margin: 30px 0;
}
#utilities > *{
    margin: 0 10%;
}
.errormessage{
    margin-top: 0;
    margin-bottom: 5px;
    color: red;
    font-size: 0.75em;
}

.title{
    font-size: 1.5em;
}

.divisor{
    height: 1px;
    width: 100%;
    margin: 0;
    background-color: rgb(47, 88, 0);
}
#BookPlaceholder{
    display: flex;
    flex-wrap: wrap;
}

#BookPlaceholder > *{
    margin: 100px;
    width: 250px;
    height: 300px;
    font-size: 1.5em;
}

#bookentry{
    background-color: rgb(47, 88, 0);
}

#bookentry > *{
    margin: 10px; 
}